body {
  background-color: #eeeeee;
}

li:not(:last-child) {
  margin-bottom: 10px;
}

.wrapper {
  width: calc(100% - 16px);
  @media screen and (min-width: $max-card-width) {
    width: $max-card-width;
  }
  margin: 0 auto;
}

#search {
  margin-top: 15px;
  width: 100%;
  font-size: $font-size;
}

#result {
  position: relative;
  font-size: $font-size;
}
