$font-size: 24px;
$image-size: $font-size * 12;
$min-card-width: $image-size * 2 + $font-size;
$max-card-width: 640px;

.country {
  width: 100%;
  @media screen and (min-width: $max-card-width) {
    width: $max-card-width;
  }
  margin: 0 auto;

  font-size: $font-size;
}

.country-name {
  text-align: center;
}

.country-info {
  margin: auto;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $min-card-width) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.field-name {
  font-weight: 700;
}

.flag {
  width: 100%;
  @media screen and (min-width: $image-size) {
    width: $image-size;
  }
}
