.country-name {
  text-align: center;
}

.country-info {
  margin: auto;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $min-card-width) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.field-name {
  font-weight: 700;
}

.flag {
  width: 100%;
  @media screen and (min-width: $image-size) {
    width: $image-size;
  }
}

.return {
  text-align: center;
}